body {
    margin: 0;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    padding:0;
    margin:0;
}
body > div {
    display: none;
    min-height: 416px;
    background-color: #dbe2ed;
    margin:0;
    padding:0;
    position:relative;
}
body > div {
	overflow:hidden;
	/* also change #chat > ul */
	min-height: 416px;
}
body > *[selected="true"] {
    display: block;
}
body > div > h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: url(iPhoneToolbar.png) #6d84a2 repeat-x;
    /*border-bottom: 1px solid #2d3642;*/
}

.button {
    position: absolute;
    top: 8px;
    right: 6px;
    -webkit-border-image: url(iPhoneButton.png) 0 5 0 5;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 0;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}

.button.homeButton {
    left: 6px;
    right: auto;
    -webkit-border-image: url(iPhoneBackButton.png) 0 8 0 14;
    border-width: 0 8px 0 14px;
}

body > div > div,
body > div > form,
body > div > ul {
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

body > div#contacts > ul > li {
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    background: transparent url(iPhoneArrow.png) no-repeat right center;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

body > div > ul > li > a {
    display: block;
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    color: inherit;
}
body > div > ul > li > a.away {
	color: grey;
	font-style: italic;
}
body > div > ul > li > span {
	padding: 8px 8px 8px 8px;
}
body > div > ul > li > img {
	margin: 8px 32px 8px 8px;
	float:right;
}

#chat {
	background: transparent url(/background_send_bar.png) bottom left repeat-x;
}
#chat > ul {
	display: block;
	list-style-type: none;
	background-color: #dbe2ed;
}
#chat > ul {
	overflow:hidden;
	/* also change body > div */
	min-height: 281px;
	overflow-y:scroll;
}
#chat > div#send_bar {
	height: 65px;
	width: 200px;
	/**/
	-webkit-border-image: url(/background_send_bar_full_no_button.png) 15 85 15 25 / 15px 85px 15px 25px stretch stretch;
	/**
	border: 15px solid black;
	/**/
	margin: 0 auto;
	padding-right:;
}
/**/
body.landscape #chat > div#send_bar {
	width: 380px;
}
/**/
#chat > div#send_bar > a {
	display: block;
	background-image: url(send.png);
	width: 62px;
	height: 26px;
	/*margin: auto 7px 7px auto;*/
	margin:0; padding:0;
	margin-top: 47px;
	margin-right: -78px;
	color: transparent;
	float: right;
}
/**/

#chat > div#send_bar textarea {
	display: block;
	height: ;
	width: 190px;
	margin: 0;
	border: 0 none transparent;
	margin:0px;
	margin-left: -10px;
	background: transparent;
	outline: 0 none transparent;
	font-size: 16px;
}

#chat > ul > li {
	left: 0;
	right: auto;
	margin: 4px auto;
	margin-left: 0;
	margin-right: auto;
	min-height:33px;
	width: 252px;
	-webkit-border-image: url(/white_bubble.png) 15 15 17 15 / 15px 15px 17px 15px stretch stretch;
}
#chat > ul > li.sent {
	-webkit-border-image: url(/green_bubble.png) 15 15 17 15 / 15px 15px 17px 15px stretch stretch;
	left: auto;
	right: 0;
	margin-left: auto;
	margin-right: 0;
}
#chat > ul > li.typing, #chat > ul > li.time {
	-webkit-border-image: none;
	width: 100%;
	color: #828282;
	text-align: center;
	margin:4px 0;
	font-weight: bold;
}

#contact > img {
	display: block;
	margin: 5px auto;
}
#contact > div {
	padding: 5px;
}

.button_grey {
	display: block;
	width: 297px;
	height: 53px;
	color: white;
	margin: 5px auto;
	text-align: center;
	background-image: url(/button_grey.png);
	text-decoration: none;
	font-size: 15px;
	line-height: 53px;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
}
/*******/